<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    <p>{{ message }}</p>
    <input v-model="message">
    <ol>
      <li v-for="item in list">{{ item }}</li>
    </ol>
    <button v-on:click="handleClick">Click</button><br>
    <button v-on:click="show=!show">切り替え</button>
    <transition>
      <p v-if="show">Hello Vue.js!</p>
    </transition>
    <p>{{ count }}回クリックしたよ！</p>
    <button v-on:click="increment">カウントを増やす</button>
    <p v-bind:class="classObject">Text</p>
    <p v-bind:style="styleObject">Text</p>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink" />
    </svg>
    <input type="range" min="0" max="100" v-model="radius">
    <div v-if="ok">v-if条件による描画</div>
    <div v-show="ok">v-show条件による表示</div>
    <button v-on:click="listPush">リストに要素を追加する</button><br>
    名前<input v-model="name">
    <button v-on:click="doAdd">モンスターを追加</button>
    <ul>
      <li v-for="(item, index) in list2" v-bind:key="item.id" v-if="item.hp">
        ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
        <span v-if="item.hp<50">瀕死！</span>
        <button v-on:click="doAttack(index)">攻撃する</button>
        <button v-on:click="doRemove(index)">モンスターを削除</button>
      </li>
    </ul>
    ID<input v-model="id">
    <button v-on:click="doChangeS()">スライム化</button><br>
    ID<input v-model="id_2">
    <button v-on:click="doChangeKS()">キングスライム化</button><br>
    <span v-for="item in 10">{{ item }} </span><br>
    <span v-for="item in [1, 3, 6, 9, 12]">{{ item }} </span><br>
    <span v-for="item in text">{{ item }} </span><br>
    <ul>
      <li v-for="(item, index) in list3" v-bind:key="item.id">
        ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
      </li>
    </ul>
    <a v-bind:href="url" v-pre>
      Hello {{ message }}
    </a><br>
    <a v-bind:href="url" v-once>
      Hello {{ message }}
    </a><br>
    <span v-text="message"></span><br>
    <span v-html="message_2"></span><br>
    <button v-on:click="count++">クリック</button><br>
    <!-- <img src="image.png" v-on:load="show_2=true" v-bind:class="{hide: !show}"><br> -->
    <!-- <input v-bind:value="message" v-on:input="handleInput"> -->
    <el-upload
      class="upload-demo"
      drag
      action=""
      :on-preview="handlePreview"
      :on-change="handleAdd"
      :on-remove="handleRemove"
      :file-list="fileList"
      v-bind:auto-upload="false"
      list-type="picture"
      multiple>
      <i class="el-icon-upload"></i>
      <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
      <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
    </el-upload>
    <div v-on:click.right="handler">example</div>
    <div v-on:click.right.prevent="handler">example</div>
    <div v-on:click="handler('div1')">
      div1
      <a href="#top" v-on:click.stop="handler('div2')">div2</a>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="main.js"></script>

</body>
</html>