.v-enter-active {
  transition: opacity 1s;
}

.v-leave-active {
  transition: opacity 1s;
  position: absolute;
}

.v-enter, .v-leave-to {
  opacity: 0;
}

img {
  opacity: 1;
  transition: opacity 1s;
}

img.hide {
  opacity: 0;
}

.compact {
  font-size: 20px
}

.tra_2-enter-active, .tra_2-leave-active {
  transition: opacity 1s;
}

.tra_2-leave-active {
  position: absolute;
}

.tra_2-enter, .tra_2-leave-to {
  opacity: 0;
}